---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description} image={heroImage}>
  <article>
    {heroImage && <Image src={heroImage} alt="Post image" />}

    <div class="mt-3 flex flex-col gap-1">
      <p class="primary-badge"><FormattedDate date={pubDate} /></p>
      {
        updatedDate && (
          <div class="label block text-sm">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
      <h1>{title}</h1>
      <hr class="text-accent" />
    </div>

    <div class="prose prose-kbd:kbd mt-8">
      <slot />
    </div>
  </article>
</Layout>
